/* Education and Voting Power of Hispanics in the US
** Jonathan Ortiz
** UCSC CMPS 165
*/

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.d3container {
    text-align: center;
}