/* Education and Voting Power of Hispanics in the US
** Jonathan Ortiz
** UCSC CMPS 165
*/

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

body {
  font: 13px sans-serif;
  max-width: 1080px;
  margin: 0 auto 4em auto;
}

h1 {
  text-align: center;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}